@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3f4553;
    --foreground: #ededed;
  }
}

@layer base {
  ::-moz-selection {
    background: #3f4553;
    color: #ffffff;
  }

  ::-webkit-selection {
    background: #3f4553;
    color: #ffffff;
  }

  ::selection {
    background: #3f4553;
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background: #edfafa;
  }

  ::-webkit-scrollbar-thumb {
    background: #d7fb00;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3f4553;
  }

}

@theme {
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes l15 {
    100% {
      transform: rotate(1turn);
    }
  }
}

body,
input {
  font-family: var(--font-rubik), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-rajdhani), sans-serif;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #ffffff85 !important;
}

.swiper-pagination-bullet-active {
  width: 30px !important;
  height: 10px !important;
  border-radius: 12px !important;
  background-color: #d7fb00 !important;

  transition: all 0.4s ease-in-out;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 14px;
}